#scroll_top {
    border: none;
    text-align:center;
    text-transform:uppercase;
    color:#FFFFFF;
    background-color: #555555;
    padding: 6px 14px;
    position:fixed;
    bottom:5px;
    right:5px;
    display:none;
    max-height:44px;
    z-index: 3;
}

#scroll_top .button-icon {
    display: block;
    font-size: 1.5em;
    line-height: 15px;
}

#scroll_top .button-text {
    font-size: 10px;
    font-weight: 700;
}

#scroll_top:hover, #scroll_top:focus {
    background-color: #666666;
}